body{
    background-image: url(../assets/img/morango\ fundo.jpg);
}
h1{
    text-align: center;
    color: black;
}

#fofo{
    text-align: center;
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-style: italic;
}